body {
    background: url('https://wallpaperset.com/w/full/c/0/c/202150.jpg') no-repeat center center fixed;;
    background-size: cover;
}
.logo {
   font-weight:800;
   margin: 0 auto;
   padding: 0px;
   font-size: 20px;
   position: absolute;
}
.main{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-content: center;

}
img {
    object-fit: cover;
}
.listform {
    margin: 0px 50px 30px 50px;
    padding: 10px;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0.9);
 
}
div.jumbotron.mt-5{
    box-shadow: 10px 15px 20px rgba(78, 77, 77, 0.263);
}
.form{
    width: 400px;
    padding: 30px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 50px grey;
    border-radius: 5%;
}

h3{
    margin-bottom: 30px;
}

input.form-control {
    border: 1px solid lightgrey;
    background: rgba(84, 163, 212, 0.262);
}

.btn {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: black;
    font-weight: 600;
    background-color: rgb(108,181,226);
    text-align:center;
    transition: all 0.2s;
    
}

.btn:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}

ul {
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(149,199,228,.95);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  
  li a:hover {
    background-color: rgb(108,181,226);
    color: black;
    width: 100%;
    height: 100%;
  }

  .right {
      float: right;
  }

  table{
      background-color: rgba(255, 255, 255, 0.9);
  }