body {
    background-color: rgb(252,226,5);
}
.logo {
   font-weight:800;
   margin: 0 auto;
   padding: 0px;
   font-size: 20px;
   position: absolute;
}
.main{
    /* margin: 30px 90px 90px 30px; */
    display: flex;
    padding-top: 150px;
    justify-content: center;
    align-content: center;
    /* text-align: center; */
}
/* .main .center{
    margin: 30px 90px 90px 30px;
} */
.form{
    width: 400px;
    /* margin: 0 auto; */
    padding: 30px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 50px grey;
    border-radius: 5%;
}

h3{
    margin-bottom: 30px;
}

input.form-control {
    border: 1px solid lightgrey;
}

.btn {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: black;
    font-weight: 600;
    background-color: rgb(252,226,5);
    text-align:center;
    transition: all 0.2s;
    
}

.btn:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}

ul {
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  
  li a:hover {
    background-color: rgb(252,226,5);
    color: black;
    width: 100%;
    height: 100%;
  }

  .right {
      float: right;
  }