.main{
    margin: 50px 90px 90px 90px;
}

h3{
    margin-bottom: 30px;
}

input.form-control {
    border: 1px solid lightgrey;
}

.btn {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid lightgrey;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #000000;
    text-align:center;
    transition: all 0.2s;
}

.btn:hover{
    color:#000000;
    background-color:lightgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: white;
  }

  .right {
      float: right;
  }